body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../img/gerbong1.jpg);
    background-size: cover;
    background-position: center center;
}

.login-container {
    background-color: rgba(139, 69, 19,0.5); /* Warna coklat */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    width: 23rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form {
    text-align: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.login-form h2 {
    color: white;
}

.input-container {
    margin: 15px 0;
}

.input-container label {
    color: white;
    display: block;
}

.input-container input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 3px;
}

button {
    background-color: #D2691E; /* Warna coklat tua */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #A0522D; /* Warna coklat tua yang lebih gelap saat hover */
}
