* {
    padding: 0;
    scroll-behavior: smooth;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    list-style: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #ba9586;
    border-radius: 10px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.btn-all {
    animation: putar 3s infinite;
}

@keyframes putar {
    0% {
        transform: translate(0px);
    }

    50% {
        transform: translate(20px);
    }

    100% {
        transform: translate(0px);

    }
}

.navbar {
    height: 70px;
    color: #fefefe;
    width: 100%;
    /* From https://css.glass */
    background: rgba(40, 40, 40, 0.9);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(100.8px);
    -webkit-backdrop-filter: blur(100.8px);
    opacity: 0.7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 99;

}

.navbar img {

    margin-left: 12px;
    width: 63px;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;

    font-weight: 600;
    font-size: 15px;
    color: #fefefe;
}



.navbar a:hover {
    color: #ffb301;
    transform: scale(1.1);
}

.banner {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../img/gerbong1.jpg);
    background-attachment: fixed;
    color: #fffefe;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.banner .text {
    width: 50%;

}

.content {
    min-height: 80vh;
    background-color: #865838e9;
    align-items: center;
    padding-top: 80px;
    height: 100vh;
    /* padding-bottom: 80px; */

}

.content .background {
    display: flex;
    justify-content: center;
}

.content .card-header {
    text-align: center;
    color: #f0e4e4;

}

.content .txt {
    font-size: 12px;
    color: #eee5e2;
}

.btn-all {
    margin-top: 20px;
    border-radius: 999px;
    border: none;
    background-color: #fefefe;
    color: #132043;
    padding: 10px 20px;
}

.background img {
    margin-left: 10px;
    margin-right: 20px;
    height: 140px;
    border-radius: 20px;

}

.background {
    background-color: #56442d;
    height: 180px;
    border-radius: 30px;
    margin: 30px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    transition: all 0.5s ease-in-out;
}

.background:hover {
    transform: scale(1.1);
    background-color: #241a09;

}

.kesenian {  
    min-height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../img/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    padding-top: 80px;
    height: 120vh;
    /* padding-bottom: 80px; */

}

.kesenian .judul-kesenian {
    text-align: center;
    color: #cdc5ba;
}

.background-kesenian {
    background-color: #000000;
    color: rgb(241, 229, 229);
    text-align: center;
    height: 375px;
    width: 345px;
    border-radius: 45px;
    margin: 90px;
    align-items: center;
    padding:20px;
    transition: all 0.5s ease-in-out;
    position: relative;
    overflow: hidden;
}
.background-kesenian:hover .-kesenian{
    transform: scaleY(1);
}
.background-kesenian .-kesenian{
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background-color: black;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: 0.7s;
}

.background-kesenian img {
    width: 100%;
    height: 100%;
    border-radius: 35px;
}

.background-kesenian .isi-kesenian {
    text-align: center;
    /* margin-left: 10px;
       margin-right: 10px;
       margin-bottom: 15px; */
}

.posisi-kesenian .isi-kesenian {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.isi-kesenian .background-kesenian img:hover{
transform: scale(1.1);
transition: 1s;
}





.wisata {
    min-height: 100vh;
    background-color: #725a39;
    align-items: center;
    padding: 80px 0;
    /* padding-bottom: 80px; */

}

.wisata a{
    color: #fff;
}

.wisata .judul-wisata {
    text-align: center;
    color: #ffffff;
}

.background-wisata {
    background-color: #413627;
    color: rgb(235, 228, 221);
    text-align: center;
    height: 265px;
    width: 200px;
    border-radius: 30px;
    margin: 30px;
    align-items: center;
    padding: 0 10px;
    transition: all 0.5s ease-in-out;

}

.background-wisata img {
    margin-left: 3px;
    margin-top: 18px;
    height: 170px;
    border-radius: 14px;
}

.background-wisata .isi-wisata {
    text-align: center;
    /* margin-left: 10px;
           margin-right: 10px;
           margin-bottom: 15px; */
}

.posisi-wisata .isi-wisata {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.background-wisata:hover {
    transform: scale(1.1);
    background-color: #2c2923;

}



.kuliner {
    background-color: #413627;
    color: #f1f1f1;
    height: 100vh;
    width: 100%;
}








.seni-container {
    height: 70vh;
    width: auto;
    background-color: var(--bg-1);
    display: flex;
    overflow: hidden;
    flex-direction: column;
    position: relative;
}

.seni-container .carousel {
    display: flex;
    width: 100%;
    transition: transform 0.5s;
}

.seni-container .carousel .grub {
    display: flex;
    flex: 0 0 50%;
    padding: 10px;
    box-sizing: border-box;
    width: 90%;
}

.seni-container .carousel .seni {
    width: 40vw;
    height: 350px;
    position: relative;
    cursor: pointer;
    margin: 0 20px;
    flex: 0 0 auto;
}

.seni-container .carousel .seni img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
}

.seni-container .carousel .seni .isi {
    background-color: rgba(0, 0, 0, 0.7);
    height: 60%;
    width: 100%;
    text-align: center;
    padding: 7px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: ease-in-out 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seni-container .carousel .seni:hover .isi {
    transform: scaleY(1);
}

.seni-container .carousel .seni .isi .judul {
    color: var(--txt-1);
    font-family: 'Courgette', cursive;
}



.kuliner {  
    min-height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../img/clint-mckoy-h28p96ICizo-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    padding-top: 80px;
    height: 120vh;
    /* padding-bottom: 80px; */

}

.kuliner .judul-kuliner {
    text-align: center;
    color: #cdc5ba;
}

.background-kuliner {
    background-color: #2e2a23;
    color: rgb(215, 196, 180);
    text-align: center;
    height: 467px;
    width: 349px;
    border-radius: 30px;
    margin: 30px;
    align-items: center;
    padding: 0 10px;
    transition: all 0.5s ease-in-out;
    padding: 40px;

}

.background-kuliner img {
    height: 246px;
    width: 246px;
    border-radius: 35px;
}

.background-kuliner .isi-kuliner {
    text-align: center;
    
    /* margin-left: 10px;
       margin-right: 10px;
       margin-bottom: 15px; */
}

.posisi-kuliner .isi-kuliner {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.isi-kuliner .background-kuliner:hover{
    transform: scale(1.1);
}