* {
    padding: 0;
    scroll-behavior: smooth;
    margin: 0;
}
body{
    position: relative;
}

.ijen {
    height: 250vh;
    background-color: rgb(134, 100, 61); 
    
    color: #fffefe;
    
    flex-direction: column;
}
.posisi-ijen{
    padding: 40px;
    margin-left: 130px;
    margin-right: 130px;
}


.ijen img{
    height: 350px;
    right: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.ijen .isi-ijen{
    text-align: center;
}

.niagara {
    height: 250vh;
    background-color: rgb(177, 129, 93); 
    
    color: #fffefe;
    
    flex-direction: column;
}
.posisi-niagara{
    padding: 40px;
    margin-left: 130px;
    margin-right: 130px;
}


.niagara img{
    height: 350px;
    right: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.niagara .isi-niagara{
    text-align: center;
}


.blawan {
    height: 250vh;
    background-color: rgb(158, 130, 96); 
    
    color: #fffefe;
    
    flex-direction: column;
}
.posisi-blawan{
    padding: 40px;
    margin-left: 130px;
    margin-right: 130px;
}


.blawan img{
    height: 350px;
    right: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.blawan .isi-blawan{
    text-align: center;
}
   


.galuh{
    height: 250vh;
    background-color: rgb(120, 86, 42);
    color: #fffefe;
    flex-direction: column;
}
.posisi-galuh{
    margin-left: 130px;
    margin-right: 130px;
}
.galuh img{
    height: 350px;
    right: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.galuh .posisi-galuh{
    text-align: center;
}



.kalipait {
    height: 250vh;
    background-color: rgb(108, 80, 45); 
    
    color: #fffefe;
    
    flex-direction: column;
}



.kalipait img{
    height: 350px;
    right: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.kalipait .isi-kalipait{
    text-align: center;
    padding: 40px;
    margin-left: 130px;
    margin-right: 130px;
}


.pelangi {
    height: 250vh;
    background-color: rgb(146, 115, 94); 
    
    color: #fffefe;
    
    flex-direction: column;
}
.posisi-pelangi{
    padding: 40px;
    margin-left: 130px;
    margin-right: 130px;
    text-align: center;
}


.pelangi img{
    height: 350px;
    right: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}



.tirta {
    height: 250vh;
    background-color: rgb(100, 81, 54); 
    
    color: #fffefe;
    
    flex-direction: column;
}
.posisi-tirta{
    padding: 40px;
    margin-left: 130px;
    margin-right: 130px;
    text-align: center;
}


.tirta img{
    height: 350px;
    right: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}



.batu {
    height: 250vh;
    background-color: rgb(117, 90, 60); 
    
    color: #fffefe;
    
    flex-direction: column;
}
.posisi-batu{
    padding: 40px;
    margin-left: 130px;
    margin-right: 130px;
    text-align: center;
}


.batu img{
    height: 350px;
    right: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}



.guesthouse {
    height: 250vh;
    background-color: rgb(126, 85, 49); 
    
    color: #fffefe;
    
    flex-direction: column;
}
.posisi-guesthouse{
    padding: 40px;
    margin-left: 130px;
    margin-right: 130px;
    text-align: center;
}


.guesthouse img{
    height: 350px;
    right: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}



.kawu {
    height: 250vh;
    background-color: rgb(110, 83, 58);    
    color: #fffefe;    
    flex-direction: column;
}
.posisi-kawu{
    padding: 40px;
    margin-left: 130px;
    margin-right: 130px;
    text-align: center;
}


.kawu img{
    height: 350px;
    right: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}



.tancak {
    height: 250vh;
    background-color: rgb(169, 128, 81);    
    color: #fffefe;    
    flex-direction: column;
}
.posisi-tancak{
    padding: 40px;
    margin-left: 130px;
    margin-right: 130px;
    text-align: center;
}


.tancak img{
    height: 350px;
    right: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.back-btn{
    width: 40px;
    height: 40px;
    background-color: rgb(49, 44, 44);
    color: #fffefe;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
    position: fixed;
}